<div class="main-grid">

    <div class="left">
        <% if member_signed_in? %>
            <div class="member-info-container">
                <%= image_tag "dog" %>
                <h3><%= current_member.name %></h3>
                <h4 class="posts-count">Posts: <span><%= current_member.posts.size %></span></h4>
                <h4 class="views-count">Views: <span><%= total_views(current_member) %></span></h4>
            </div>
        <% else %>
            <div class="sign-in-container">
                <h2 class="info"><a href="<%= new_member_session_path %>">Sign in</a> to see which Members have written which posts, or write your own!</h2>
            </div>
            <div class="sign-up-container">
                <h2 class="info">Not a Member yet?<a href="<%= new_member_registration_path %>">Sign up</a>!</h2>
            </div>
        <% end %>
    </div>

    <div class="middle">
        <% if member_signed_in? %>
            <div class="post-form">
                <h1>New Post</h1>
                <%= render "form" %>
            </div>
        <% end %>

        <%= render "posts_feed" %>

    </div>

    <div class="right">
    <div class="recommended-container">
        <h2>Recommended</h2>
        <div class="recommended-feed">
            <%= render "recommended_feed" %>
        </div>
    </div>

    <footer></footer>

</div>

