<!DOCTYPE html>
<html>
  <head>
    <title>MembersClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "All Posts", posts_path %></li>
        <% if member_signed_in? %>
          <%= link_to "Sign Out", destroy_member_session_path, method: :delete %>
          <%= link_to current_member.name, edit_member_registration_path %>
        <% else %>
        <%= link_to "Sign In", new_member_session_path %>
        <%= link_to "Sign Up", new_member_registration_path %>
        <% end %>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
